@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville|Racing+Sans+One|Satisfy);

body {
    font-size: 200%;
    text-align: center;
    font-family: Libre Baskerville;
}


ol {
     text-align: left;
}

#agilearch {
     width: 1200px;
}

